body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans Condensed', sans-serif;
    
}

.h1 {
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
    position: absolute;
    width: 400px;
    padding: 0px;
    right: 600px;
    left: 550px;
    text-decoration: underline;
    

    
    
    
}

section {
    padding: 0 100px;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}

.box {
    position: absolute;
    width: 400px;
    padding:  20px;
    right: 5px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    
}

.box h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #044463; 
}

.box p {
    margin: 0 0 20px;
    padding: 0;
    font-size: 15px;  
}

a {
text-decoration: none;
}