html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  height: 60px;
  background-color: #f0f0f0;
}

h1 {
  font-size: 42px;
  color: #fff;
  text-shadow: 2px 2px #666;
  margin: 0;
}

p {
  font-size: 20px
}

header img {
  width: 40px;
  position: relative;
  left: 20px;
  top: 10px;
}
a, a:visited, a:hover, a:active {
  color: #fff;
}

.nav {
  float: right;
}

.nav ul {
  margin: 0;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  top: 22px;
  right: 20px;
  margin: 0px 0px 0px 20px;
  padding: 0px 4px 6px 4px;
}

.nav ul li a:hover {
  color: #666;
  transition: 0.25 ease-in;
}

.active {
  border-bottom: 1px solid #000
}

/*Image landing page (Parallax) */
#bg {
  background: url(images/123.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

#test {
  height: 1000px;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  position: relative;
  top: 30%
}


.wrapper p {
text-transform: uppercase;
color: #fff;
margin: 20px 0px 60px 0px;
}


.wrapper a {
 color= #fff;
 text-decoration: none;
 text-transform: uppercase;
 border: 1px solid #fff;
 padding: 8px 16px;
 font-size: 22px;
border-radius: 30px;
}

.fab {
color: red;
font-size: 50px;
}

.fab:hover {
  color: rgb(0, 26, 255);
  font-size: 200px;
   }

   .btn-down {
    margin: 0 auto;
    text-align: center;
   }

   .btn-down .fas {
   font-size: 40px;
   position: absolute;
   bottom: 0px;
   transform: translate(-50%, -50%);
   }